*~
a.out
.vscode/settings.json
.vscode/c_cpp_properties.json
03-io_uring/in
03-io_uring/out
*/.vscode
04-ext2-read-file/img
04-ext2-read-file/out
05-ext2-read-dir/img
06-ext2-walk-path/img
06-ext2-walk-path/out
08-ext2-read-sparse-file/img
08-ext2-read-sparse-file/out
07-ntfs-read-file/img
07-ntfs-read-file/out
09-btree/graph_0.gv
09-btree/res.svg
10-ext2-fuse/fs
11-grpc/bin/1
11-grpc/bin/2
11-grpc/bin/hash
11-grpc/bin/parhash
